.abc{
    width: 100px;
    height: 100px; 
background-color: red;
border: 4px solid black;
}
.ahmed{
    width: 100px;
    height: 100px; 
background-color: rgb(76, 0, 255);
border: 4px solid black;
}
.car{
    width: 100px;
    height: 100px; 
background-color: rgb(60, 255, 0);
border: 4px solid black;
}


.audi{
    width: 100px;
    height: 100px; 
background-color: rgb(255, 12, 202);
border: 4px solid black;
}

.container{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
justify-content: space-between;
border: 2px solid black;
}
